body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f9f9f9;
}
.sidebar {
    width: 250px;
    background-color: #007b3e; /* Warna hijau Kemenag */
    color: white;
    height: 100vh;
    padding: 20px 0;
    position: fixed;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0;
}
.sidebar a:hover {
    background-color: #005a2c;
}
.header {
    display: flex;
    flex-direction: column; /* Menyusun elemen secara vertikal */
    justify-content: flex-end;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: -50px;
    width: 100%;
    z-index: 50;
    align-items: flex-end; /* Mengatur ke kanan */
}

.welcome h1 {
    margin: 0;
    font-size: 18px;
    color: #007b3e;
}

.profile-btn {
    margin-top: 10px; /* Memberikan jarak antara teks dan tombol */
    border: #005a2c;
    background-color: #fff;
    color: #007b3e;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
}

.profile-btn:hover {
    background-color: #005a2c;
    color: white;
}

.filter-form {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filter-form input, .filter-form button {
    padding: 10px;
    margin-right: 10px;
}
.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}
h1, h2 {
    color: #007b3e;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #007b3e;
    color: white;
}
button {
    background-color: #007b3e;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #005a2c;
}
.btn-cetak {
    background-color: #007b3e;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px;
}
.btn-cetak:hover {
    background-color: #005a2c;
}