@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #080a0d;
  color: #d4dbe4;
}

#header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  letter-spacing: 5px;
}

.tabs-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #121922;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.2);
}

.tabs-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.tabs-container a {
  text-decoration: none;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.tabs-container a:hover {
  background-color: #4c79bd;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --backdrop: hsla(0, 0%, 0%, 0.12);
  --radius: 14;
  --border: 3;
  --backup-border: var(--backdrop);
  --size: 200;
}

article:first-of-type {
  --base: 80;
  --spread: 500;
  --outer: 1;
}

article:last-of-type {
  --outer: 1;
  --base: 220;
  --spread: 200;
}

.wrapper {
  position: relative;
}

article {
  aspect-ratio: 3 / 4;
  border-radius: calc(var(--radius) * 1px);
  width: 350px;
  position: relative;
  grid-template-rows: 1fr auto;
  box-shadow: 0 1rem 2rem -1rem black;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  backdrop-filter: blur(calc(var(--cardblur, 5) * 1px));
}

main {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: calc(100vw - 2rem);
  position: relative;


  place-items: center;
}

/* Glow specific styles */
[data-glow] {
  --border-size: calc(var(--border, 2) * 1px);
  --spotlight-size: calc(var(--size, 150) * 1px);
  --hue: calc(var(--base) + (var(--xp, 0) * var(--spread, 0)));
  background-image: radial-gradient(var(--spotlight-size) var(--spotlight-size) at calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 70) * 1%) / var(--bg-spot-opacity, 0.1)),
      transparent);
  background-color: var(--backdrop, transparent);
  background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
  background-position: 50% 50%;
  background-attachment: fixed;
  border: var(--border-size) solid var(--backup-border);
  position: relative;
  touch-action: none;
}

[data-glow]::before,
[data-glow]::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: calc(var(--border-size) * -1);
  border: var(--border-size) solid transparent;
  border-radius: calc(var(--radius) * 1px);
  background-attachment: fixed;
  background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}

/* This is the emphasis light */
[data-glow]::before {
  background-image: radial-gradient(calc(var(--spotlight-size) * 0.75) calc(var(--spotlight-size) * 0.75) at calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 50) * 1%) / var(--border-spot-opacity, 1)),
      transparent 100%);
  filter: brightness(2);
}

/* This is the spotlight */
[data-glow]::after {
  background-image: radial-gradient(calc(var(--spotlight-size) * 0.5) calc(var(--spotlight-size) * 0.5) at calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
      hsl(0 100% 100% / var(--border-light-opacity, 1)),
      transparent 100%);
}

[data-glow] [data-glow] {
  position: absolute;
  inset: 0;
  will-change: filter;
  opacity: var(--outer, 1);
}

[data-glow]>[data-glow] {
  border-radius: calc(var(--radius) * 1px);
  border-width: calc(var(--border-size) * 20);
  filter: blur(calc(var(--border-size) * 10));
  background: none;
  pointer-events: none;
}


[data-glow]>[data-glow] ::before {
  inset: -10px;
  border-width: 10px;
}


[data-glow] [data-glow] {
  border: none;
}


.inside-content {
  padding: 10px;
}

h2 {
  font-size: 24px;
  padding-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

span {
  font-size: 18px;
  font-weight: 600;
}

button {
  height: 45px;
  width: 80%;
  border-radius: 50px;
  border: hidden;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 35px;
  cursor: pointer;
}

.button1 {
  border: 2px solid rgb(255, 111, 171);
}

.button1:hover {
  background-color: rgb(255, 111, 171);
  box-shadow: 0 0 10px rgb(255, 111, 171);
}


.button2 {
  border: 2px solid rgb(22, 181, 250);
}

.button2:hover {
  background-color: rgb(22, 181, 250);
  box-shadow: 0 0 10px rgb(22, 181, 250);
}

.button3 {
  border: 2px solid rgb(251, 192, 17);
}

.button3:hover {
  background-color: rgb(251, 192, 17);
  box-shadow: 0 0 10px rgb(251, 192, 17);
}


ul {
  /* list-style: circle; */
  list-style: decimal;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}


/* Main content styling */
/* main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

main section {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

main section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

main section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

/* Form styling */
/* form label {
    font-weight: 600;
    color: #333;
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="file"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.logout- {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

form button:hover {
    background-color: #45a049;
}

// Button styling in sections 
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #45a049;
}*/

/* Responsive design */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 8px 0;
    }
}  

#source-link {
  top: 120px;
}

#source-link>i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 65px;
}

#yt-link>i {
  color: rgb(219, 31, 106);
}

#keluar {
  right: 60px;
}

#keluar>i {
  color: rgb(219, 31, 106);
}


#Fund-link {
  top: 10px;
}

#Fund-link>i {
  color: rgb(255, 251, 0);

}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link>i,
.meta-link>span {
  height: 20px;
  line-height: 20px;
}

.meta-link>span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}