:root {
  --sidebar-open: 260px;
  --sidebar-closed: 64px;
  --primary-color: #1b5e20;
  --primary-light: #1a8e4e;
  --primary-dark: #0a5a31;
  --dark-bg: #1e1b29;
  --card-bg: #ffffff;
  --text-dark: #333333;
  --text-light: #7a7b92;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --pending-color: #f7931e;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --card-radius: 12px;
  --transition: all 0.3s ease;
  --dashboard-bg: #7bd247;
  --sidebar-offset: 260px;
  --judul: #1d7716;
}
p {
  font-family: system-ui, -apple-system, sans-serif;
  color: white;
  background: var(--primary-color);
  margin-right: 450px;
  margin-left: 450px;
}

.site-footer {
  
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
