.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
}

.notification-dropdown p {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
}
